body{
    margin: 0;
    
}
nav{
    background: red;
    height: 80px;
    width: 100%;
    
}
label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;

}

a.current, a:hover{
    background: black;
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

@media (max-width: 950px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
    
}

@media (max-width: 850px){
    .checkbtn{
        display: block;
    }
    nav ul{
        position: absolute;
        width: 100%;
        height: 120vh;
        background: peru;
        top: 60px;
        text-align: center;
        transition: all 0.5s;
        
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a.current, a:hover{
        background: none;
        color:black;
    }
    #check:checked ~ ul{
        /*left: -120%;*/
        top: -140%;
    }
}
#background{
    background: url(Machu_Picchu\,_Peru.jpg);
    background-size: cover;
    height: 200vh;
    width: 100%;
    background-repeat: round;
    background-attachment: fixed;
    
}
.blockempty{
    height: 25vh;
    width: 25vh;
}
h1, p, br, h2, h3 {
    background: peru;
    margin: 0;
}

h1{
    padding: 4px;
}
#outside{
    width: 20vh;
    height: 25vh;
}
#inside{
    height: 25vh;
    width: 35vh;
}
#center{
    text-align: center;
}
#food{
    width: 100%;
}
#menuitem{
    text-align: left;
    width: 50%;
    display: block;
    float: left;
}
#price{
    text-align: right;
    width: 50%;
    display: block;
    float: left;
}
#name, #email{
    width: 15%;
    display: block;
    float: left;
}
#send{
    display: block;
    float: left;
}
#desc{
    display: block;
    float: left;
}
#cover{
    z-index: -2;
    display: block;
    width: 100%;
    color: peru;
    height: 50vh;
}
#scover{
    z-index: -2;
    display: block;
    width: 100%;
    color: peru;
}
#foodpic{
    height: 100px;
    width: 150px;
}

#backtotop{
    background: peru; 
    position: fixed;
    width: 10vh;
    bottom: 4px;
    right: 0px;
}